.messagingHeader {
    width: inherit;
    height: 50px;
    background-color: rgb(98 91 91);
    border-radius: 15px 15px 0px 0px;
    font-family: inherit;
}

.messagingHeaderCloseButton {
    float: right;
    margin-right: 20px;
    height: 50px;
    width: max-content;
    background: transparent;
    border: none;
    pointer-events: all;
    cursor: pointer;
}

.messagingHeaderCloseButtonIcon {
    transform: scale(2);
    fill: whitesmoke;
}

.messagingHeaderCloseButtonIcon:hover{
    opacity: 0.5;
    transform: scale(2);
}