.messagingButton {
    width: 10rem;
    background-color: #3fc56e;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    outline: 0;
    border: 0; 
    margin: 10px 0px;
    cursor: pointer;
    box-shadow: 0px 2px 2px lightgray;
    transition: ease background-color 250ms;
    font-weight: bold;
    position: relative;
    align-self: center;
    top: 150px;
}

.messagingButton:hover:not(:disabled) {
    background-color: #2d8645;
}

.messagingButton:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

/**
 * Styles related to the spinner shown on Messaging Button
 */
.messagingButtonLoadingUI {
    --color: white;
    --size-mid: 4vmin;
    --size-dot: 1.5vmin;
    --size-bar: 0.4vmin;
    --size-square: 3vmin;
    position: relative;
    width: 50%;
    display: block;
    bottom: 30px;
}

.messagingButtonLoadingUI::before,
.messagingButtonLoadingUI::after {
	content: '';
	box-sizing: border-box;
	position: absolute;
}

.messagingButtonLoadingUI.loadingBalls::before {
	width: var(--size-mid);
	height: var(--size-mid);
	border: 4px solid white;
	border-top-color: transparent;
	border-radius: 50%;
	animation: loadingAnimation 1s linear infinite;
}

.messagingButtonLoadingUI.loadingBalls::after {
	width: calc(var(--size-mid) - 2px);
	height: calc(var(--size-mid) - 2px);
	border: 2px solid transparent;
	border-top-color: white;
	border-radius: 50%;
	animation: loadingAnimation 0.6s linear reverse infinite;
}

@keyframes loadingAnimation {
	100% {
		transform: rotate(1turn);
	}
}