.messagingBody {
    height: 500px;
    border-bottom: 1px solid #ddd;
    overflow: auto;
    background: whitesmoke;
    border-radius: inherit;
    font-family: inherit;
}

.conversationStartTimeText, .conversationEndTimeText {
    color: rgb(98 91 91);
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.conversationEntriesListView {
    height: auto;
    padding: 5px 10px;
    margin-top: 0;
    margin-bottom: 0;
}