.messageContainer {
    position: relative;
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.messageSenderContent {
    color: rgb(153, 153, 153);
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
}

.messageBubbleContainer {
    overflow: auto;
}

.messageBubble {
    max-width: 425px;
    width: -webkit-fit-content;
    background-color: rgb(204, 204, 204);
    float: left;
    border-radius: 20px;
    margin: 1px auto;
    padding: 8px 14px;
}

.messageContent {
    color: rgb(255, 255, 255);
    margin: 0px;
    font-size: 16px;
    font-weight: 300;
}