.messagingBody {
    flex: 1;
    /* height: auto; */
    height: 95vh;
    border-bottom: 1px solid #ddd;
    overflow: auto;
    border-radius: inherit;
    font-family: inherit;
    background: #0a0a0a;
}
.displayRelative {
    position: relative;
    z-index: 2;
    background-color: whitesmoke;
}

.conversationStartTimeText, .conversationEndTimeText {
    color: rgb(98 91 91);
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.conversationEntriesListView {
    height: auto;
    padding: 5px 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }
  
  .line {
    flex: 1; /* Makes the lines expand */
    height: 1px;
    background-color: gray;
  }
  
  .text {
    margin: 0 10px; /* Adds space between text and lines */
    color: gray;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  }

  .lastDiv{
    margin-bottom: 20px;
  }
  .topDiv{
    margin-top: 70px;
  }
  