.messagingButton {
    width: 10rem;
    background-color: #3fc56e;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    outline: 0;
    border: 0; 
    margin: 10px 0px;
    cursor: pointer;
    box-shadow: 0px 2px 2px lightgray;
    transition: ease background-color 250ms;
    font-weight: bold;
    position: relative;
    align-self: center;
    top: 150px;
}

.messagingButton:hover:not(:disabled) {
    background-color: #2d8645;
}

.messagingButton:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}