.textMessageSenderContent {
    color: rgb(153, 153, 153);
    margin: 0px;
    font-size: 10px;
    font-weight: 400;
}

.textMessageSenderContent[class~="incoming"] {
    text-align: left;
}

.textMessageSenderContent[class~="outgoing"] {
    text-align: right;
}

.textMessageBubbleContainer {
    overflow: auto;
}

.textMessageBubble {
    min-width: 50px;
    max-width: 300px;
    width: -webkit-fit-content;
    border-radius: 20px;
    margin: 1px auto;
    padding: 8px 14px;
}

.textMessageBubble[class~="incoming"] {
    float: left;
    background-color: #1e1e1e;
}

.textMessageBubble[class~="outgoing"] {
    float: right;
    background-color: #007bff;
}

.textMessageContent {
    color: rgb(255, 255, 255);
    margin: 0px;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
}