.messagingButton {
    background-color: #3f51b5;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    outline: 0;
    border: 0; 
    margin: 10px 0px;
    cursor: pointer;
    box-shadow: 0px 2px 2px lightgray;
    transition: ease background-color 250ms;
    font-weight: bold;
}

.messagingButton:hover {
    background-color: #283593;
}

.messagingButton:disabled {
    cursor: default;
    opacity: 0.7;
}